body {
    background-color: black;
}

.list-group {
    width: 200px;
    background-color: #f2f2f2;
    color: black;
    border-style: groove;
    border-color: #bfbea8;
    border-width: 5px;
}

div.cloudtext {
    color: #bfbea8;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

img.smallpic {
    width: 85%;
    height: 85%;
}
/* for footer gradient*/
div.customFooter {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    color: #bfbea8;
    text-align: center;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 13px;
    background: #a0ffa5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, #c1c5cc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #c1c5cc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #c1c5cc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #c1c5cc); /* Standard syntax */
}


ul.topnav {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #a0ffa5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c1c5cc, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c1c5cc, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c1c5cc, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c1c5cc, black); /* Standard syntax */
}


    ul.topnav li {
        float: left;
    }

        ul.topnav li a {
            display: inline-block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }

            ul.topnav li a:hover {
                background-color: #8b9099;
                color: black;
            }

        ul.topnav li.icon {
            display: none;
        }

@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }

    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.topnav.responsive {
        position: relative;
    }

        ul.topnav.responsive li.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        ul.topnav.responsive li {
            float: none;
            display: inline;
        }

            ul.topnav.responsive li a {
                display: block;
                text-align: left;
            }
}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one. */
@media screen and (max-width:680px) {
    ul.menu-bar li:not(:first-child) {
        display: none;
    }

    ul.menu-bar li.icon {
        float: right;
        display: inline-block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
    ul.menu-bar.responsive {
        position: relative;
    }

        ul.menu-bar.responsive li.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        ul.menu-bar.responsive li {
            float: none;
            display: inline;
        }

            ul.menu-bar.responsive li a {
                display: block;
                text-align: left;
            }
}


/****** custom css pixel arts section ******/
/* heart */
div.heartshape {
    width: 3px;
    height: 3px;
    box-shadow: 45px 40px 0 #E74C3C,65px 40px 0 #E74C3C,40px 45px 0 #E74C3C,45px 45px 0 #E74C3C,50px 45px 0 #E74C3C,60px 45px 0 #E74C3C,65px 45px 0 #E74C3C,70px 45px 0 #E74C3C,35px 50px 0 #E74C3C,40px 50px 0 #E74C3C,45px 50px 0 #E74C3C,50px 50px 0 #ED7866,55px 50px 0 #E74C3C,60px 50px 0 #E74C3C,65px 50px 0 #E74C3C,70px 50px 0 #E74C3C,75px 50px 0 #E74C3C,35px 55px 0 #E74C3C,40px 55px 0 #E74C3C,45px 55px 0 #ED7866,50px 55px 0 #ED7866,55px 55px 0 #E74C3C,60px 55px 0 #E74C3C,65px 55px 0 #E74C3C,70px 55px 0 #E74C3C,75px 55px 0 #E74C3C,40px 60px 0 #E74C3C,45px 60px 0 #E74C3C,50px 60px 0 #E74C3C,55px 60px 0 #E74C3C,60px 60px 0 #E74C3C,65px 60px 0 #E74C3C,70px 60px 0 #E74C3C,45px 65px 0 #E74C3C,50px 65px 0 #E74C3C,55px 65px 0 #E74C3C,60px 65px 0 #E74C3C,65px 65px 0 #E74C3C,50px 70px 0 #E74C3C,55px 70px 0 #E74C3C,60px 70px 0 #E74C3C,55px 75px 0 #E74C3C;
}

/* 
    not sure about the performance on this, make sure to use one of the analytic extensions to check 
*/

div.pixelComputer {
    width: 3px;
    height: 3px;
    box-shadow: 20px 20px 0 #CDE9F2,25px 20px 0 #CDE9F2,30px 20px 0 #CDE9F2, 35px 20px 0 #CDE9F2,40px 20px 0 #CDE9F2,45px 20px 0 #CDE9F2, 50px 20px 0 #CDE9F2,55px 20px 0 #CDE9F2,60px 20px 0 #CDE9F2, 65px 20px 0 #CDE9F2,70px 20px 0 #CDE9F2,75px 20px 0 #CDE9F2, 80px 20px 0 #CDE9F2,85px 20px 0 #CDE9F2,90px 20px 0 #CDE9F2, 95px 20px 0 #CDE9F2,100px 20px 0 #CDE9F2,105px 20px 0 #CDE9F2, 110px 20px 0 #CDE9F2,115px 20px 0 #CDE9F2,120px 20px 0 #CDE9F2, 125px 20px 0 #CDE9F2,20px 25px 0 #CDE9F2,25px 25px 0 #CDE9F2, 30px 25px 0 #CDE9F2,35px 25px 0 #CDE9F2,40px 25px 0 #CDE9F2, 45px 25px 0 #CDE9F2,50px 25px 0 #CDE9F2,55px 25px 0 #CDE9F2, 60px 25px 0 #CDE9F2,65px 25px 0 #CDE9F2,70px 25px 0 #CDE9F2, 75px 25px 0 #CDE9F2,80px 25px 0 #CDE9F2,85px 25px 0 #CDE9F2, 90px 25px 0 #CDE9F2,95px 25px 0 #CDE9F2,100px 25px 0 #CDE9F2, 105px 25px 0 #CDE9F2,110px 25px 0 #CDE9F2,115px 25px 0 #CDE9F2, 120px 25px 0 #CDE9F2,125px 25px 0 #CDE9F2,20px 30px 0 #CDE9F2, 25px 30px 0 #AFC7CF,30px 30px 0 #161717,35px 30px 0 #161717, 40px 30px 0 #161717,45px 30px 0 #161717,50px 30px 0 #161717, 55px 30px 0 #161717,60px 30px 0 #161717,65px 30px 0 #161717, 70px 30px 0 #161717,75px 30px 0 #161717,80px 30px 0 #161717, 85px 30px 0 #161717,90px 30px 0 #161717,95px 30px 0 #161717, 100px 30px 0 #161717,105px 30px 0 #161717,110px 30px 0 #161717, 115px 30px 0 #161717,120px 30px 0 #CDE9F2,125px 30px 0 #CDE9F2, 20px 35px 0 #CDE9F2,25px 35px 0 #AFC7CF,30px 35px 0 #161717, 35px 35px 0 #5CFC51,40px 35px 0 #5CFC51,45px 35px 0 #161717, 50px 35px 0 #5CFC51,55px 35px 0 #5CFC51,60px 35px 0 #5CFC51, 65px 35px 0 #161717,70px 35px 0 #5CFC51,75px 35px 0 #5CFC51, 80px 35px 0 #161717,85px 35px 0 #5CFC51,90px 35px 0 #5CFC51, 95px 35px 0 #5CFC51,100px 35px 0 #161717,105px 35px 0 #5CFC51, 110px 35px 0 #5CFC51,115px 35px 0 #161717,120px 35px 0 #CDE9F2, 125px 35px 0 #CDE9F2,20px 40px 0 #CDE9F2,25px 40px 0 #AFC7CF, 30px 40px 0 #161717,35px 40px 0 #161717,40px 40px 0 #5CFC51, 45px 40px 0 #161717,50px 40px 0 #5CFC51,55px 40px 0 #161717, 60px 40px 0 #5CFC51,65px 40px 0 #161717,70px 40px 0 #161717, 75px 40px 0 #5CFC51,80px 40px 0 #161717,85px 40px 0 #5CFC51, 90px 40px 0 #161717,95px 40px 0 #5CFC51,100px 40px 0 #161717, 105px 40px 0 #161717,110px 40px 0 #5CFC51,115px 40px 0 #161717, 120px 40px 0 #CDE9F2,125px 40px 0 #CDE9F2,20px 45px 0 #CDE9F2, 25px 45px 0 #AFC7CF,30px 45px 0 #161717,35px 45px 0 #161717, 40px 45px 0 #5CFC51,45px 45px 0 #161717,50px 45px 0 #5CFC51, 55px 45px 0 #161717,60px 45px 0 #5CFC51,65px 45px 0 #161717, 70px 45px 0 #161717,75px 45px 0 #5CFC51,80px 45px 0 #161717, 85px 45px 0 #5CFC51,90px 45px 0 #161717,95px 45px 0 #5CFC51, 100px 45px 0 #161717,105px 45px 0 #161717,110px 45px 0 #5CFC51, 115px 45px 0 #161717,120px 45px 0 #CDE9F2,125px 45px 0 #CDE9F2, 20px 50px 0 #CDE9F2,25px 50px 0 #AFC7CF,30px 50px 0 #161717, 35px 50px 0 #161717,40px 50px 0 #5CFC51,45px 50px 0 #161717, 50px 50px 0 #5CFC51,55px 50px 0 #5CFC51,60px 50px 0 #5CFC51, 65px 50px 0 #161717,70px 50px 0 #161717,75px 50px 0 #5CFC51, 80px 50px 0 #161717,85px 50px 0 #5CFC51,90px 50px 0 #5CFC51, 95px 50px 0 #5CFC51,100px 50px 0 #161717,105px 50px 0 #161717, 110px 50px 0 #5CFC51,115px 50px 0 #161717,120px 50px 0 #CDE9F2, 125px 50px 0 #CDE9F2,20px 55px 0 #CDE9F2,25px 55px 0 #AFC7CF, 30px 55px 0 #161717,35px 55px 0 #161717,40px 55px 0 #161717, 45px 55px 0 #161717,50px 55px 0 #161717,55px 55px 0 #161717, 60px 55px 0 #161717,65px 55px 0 #161717,70px 55px 0 #161717, 75px 55px 0 #161717,80px 55px 0 #161717,85px 55px 0 #161717, 90px 55px 0 #161717,95px 55px 0 #161717,100px 55px 0 #161717, 105px 55px 0 #161717,110px 55px 0 #161717,115px 55px 0 #161717, 120px 55px 0 #CDE9F2,125px 55px 0 #CDE9F2,20px 60px 0 #CDE9F2, 25px 60px 0 #AFC7CF,30px 60px 0 #161717,35px 60px 0 #161717, 40px 60px 0 #161717,45px 60px 0 #161717,50px 60px 0 #161717, 55px 60px 0 #161717,60px 60px 0 #161717,65px 60px 0 #161717, 70px 60px 0 #161717,75px 60px 0 #161717,80px 60px 0 #161717, 85px 60px 0 #161717,90px 60px 0 #161717,95px 60px 0 #161717, 100px 60px 0 #161717,105px 60px 0 #161717,110px 60px 0 #161717, 115px 60px 0 #161717,120px 60px 0 #CDE9F2,125px 60px 0 #CDE9F2, 20px 65px 0 #CDE9F2,25px 65px 0 #AFC7CF,30px 65px 0 #161717, 35px 65px 0 #5CFC51,40px 65px 0 #5CFC51,45px 65px 0 #5CFC51, 50px 65px 0 #161717,55px 65px 0 #5CFC51,60px 65px 0 #5CFC51, 65px 65px 0 #5CFC51,70px 65px 0 #161717,75px 65px 0 #5CFC51, 80px 65px 0 #5CFC51,85px 65px 0 #161717,90px 65px 0 #5CFC51, 95px 65px 0 #5CFC51,100px 65px 0 #161717,105px 65px 0 #5CFC51, 110px 65px 0 #5CFC51,115px 65px 0 #161717,120px 65px 0 #CDE9F2, 125px 65px 0 #CDE9F2,20px 70px 0 #CDE9F2,25px 70px 0 #AFC7CF, 30px 70px 0 #161717,35px 70px 0 #5CFC51,40px 70px 0 #161717, 45px 70px 0 #5CFC51,50px 70px 0 #161717,55px 70px 0 #5CFC51, 60px 70px 0 #161717,65px 70px 0 #5CFC51,70px 70px 0 #161717, 75px 70px 0 #161717,80px 70px 0 #5CFC51,85px 70px 0 #161717, 90px 70px 0 #161717,95px 70px 0 #5CFC51,100px 70px 0 #161717, 105px 70px 0 #161717,110px 70px 0 #5CFC51,115px 70px 0 #161717, 120px 70px 0 #CDE9F2,125px 70px 0 #CDE9F2,20px 75px 0 #CDE9F2, 25px 75px 0 #AFC7CF,30px 75px 0 #161717,35px 75px 0 #5CFC51, 40px 75px 0 #161717,45px 75px 0 #5CFC51,50px 75px 0 #161717, 55px 75px 0 #5CFC51,60px 75px 0 #161717,65px 75px 0 #5CFC51, 70px 75px 0 #161717,75px 75px 0 #161717,80px 75px 0 #5CFC51, 85px 75px 0 #161717,90px 75px 0 #161717,95px 75px 0 #5CFC51, 100px 75px 0 #161717,105px 75px 0 #161717,110px 75px 0 #5CFC51, 115px 75px 0 #161717,120px 75px 0 #CDE9F2,125px 75px 0 #CDE9F2, 20px 80px 0 #CDE9F2,25px 80px 0 #AFC7CF,30px 80px 0 #161717, 35px 80px 0 #5CFC51,40px 80px 0 #5CFC51,45px 80px 0 #5CFC51, 50px 80px 0 #161717,55px 80px 0 #5CFC51,60px 80px 0 #5CFC51, 65px 80px 0 #5CFC51,70px 80px 0 #161717,75px 80px 0 #161717, 80px 80px 0 #5CFC51,85px 80px 0 #161717,90px 80px 0 #161717, 95px 80px 0 #5CFC51,100px 80px 0 #161717,105px 80px 0 #161717, 110px 80px 0 #5CFC51,115px 80px 0 #161717,120px 80px 0 #CDE9F2, 125px 80px 0 #CDE9F2,20px 85px 0 #CDE9F2,25px 85px 0 #AFC7CF, 30px 85px 0 #161717,35px 85px 0 #161717,40px 85px 0 #161717, 45px 85px 0 #161717,50px 85px 0 #161717,55px 85px 0 #161717, 60px 85px 0 #161717,65px 85px 0 #161717,70px 85px 0 #161717, 75px 85px 0 #161717,80px 85px 0 #161717,85px 85px 0 #161717, 90px 85px 0 #161717,95px 85px 0 #161717,100px 85px 0 #161717, 105px 85px 0 #161717,110px 85px 0 #161717,115px 85px 0 #161717, 120px 85px 0 #CDE9F2,125px 85px 0 #CDE9F2,20px 90px 0 #CDE9F2, 25px 90px 0 #CDE9F2,30px 90px 0 #CDE9F2,35px 90px 0 #CDE9F2, 40px 90px 0 #CDE9F2,45px 90px 0 #CDE9F2,50px 90px 0 #CDE9F2, 55px 90px 0 #CDE9F2,60px 90px 0 #CDE9F2,65px 90px 0 #CDE9F2, 70px 90px 0 #CDE9F2,75px 90px 0 #CDE9F2,80px 90px 0 #CDE9F2, 85px 90px 0 #CDE9F2,90px 90px 0 #CDE9F2,95px 90px 0 #CDE9F2, 100px 90px 0 #CDE9F2,105px 90px 0 #CDE9F2,110px 90px 0 #CDE9F2, 115px 90px 0 #CDE9F2,120px 90px 0 #CDE9F2,125px 90px 0 #CDE9F2, 140px 90px 0 #CDE9F2,20px 95px 0 #CDE9F2,25px 95px 0 #CDE9F2, 30px 95px 0 #CDE9F2,35px 95px 0 #CDE9F2,40px 95px 0 #CDE9F2, 45px 95px 0 #CDE9F2,50px 95px 0 #CDE9F2,55px 95px 0 #CDE9F2, 60px 95px 0 #CDE9F2,65px 95px 0 #CDE9F2,70px 95px 0 #CDE9F2, 75px 95px 0 #CDE9F2,80px 95px 0 #CDE9F2,85px 95px 0 #CDE9F2, 90px 95px 0 #CDE9F2,95px 95px 0 #CDE9F2,100px 95px 0 #CDE9F2, 105px 95px 0 #CDE9F2,110px 95px 0 #CDE9F2,115px 95px 0 #CDE9F2, 120px 95px 0 #CDE9F2,125px 95px 0 #CDE9F2,135px 95px 0 #B8D1D9, 145px 95px 0 #CDE9F2,30px 100px 0 #848787,35px 100px 0 #848787, 40px 100px 0 #848787,45px 100px 0 #848787,50px 100px 0 #848787, 55px 100px 0 #848787,60px 100px 0 #848787,65px 100px 0 #848787, 70px 100px 0 #848787,75px 100px 0 #848787,80px 100px 0 #848787, 85px 100px 0 #848787,90px 100px 0 #848787,95px 100px 0 #848787, 100px 100px 0 #848787,105px 100px 0 #848787,110px 100px 0 #848787, 115px 100px 0 #848787,130px 100px 0 #B8D1D9,150px 100px 0 #B8D1D9, 25px 105px 0 #CDE9F2,30px 105px 0 #CDE9F2,35px 105px 0 #CDE9F2, 40px 105px 0 #CDE9F2,45px 105px 0 #CDE9F2,50px 105px 0 #CDE9F2, 55px 105px 0 #CDE9F2,60px 105px 0 #CDE9F2,65px 105px 0 #CDE9F2, 70px 105px 0 #CDE9F2,75px 105px 0 #CDE9F2,80px 105px 0 #CDE9F2, 85px 105px 0 #CDE9F2,90px 105px 0 #CDE9F2,95px 105px 0 #CDE9F2, 100px 105px 0 #CDE9F2,105px 105px 0 #CDE9F2,110px 105px 0 #CDE9F2, 120px 105px 0 #B8D1D9,125px 105px 0 #B8D1D9,130px 105px 0 #B8D1D9, 145px 105px 0 #B8D1D9,20px 110px 0 #CDE9F2,25px 110px 0 #848787, 30px 110px 0 #848787,35px 110px 0 #848787,40px 110px 0 #848787, 45px 110px 0 #848787,50px 110px 0 #848787,55px 110px 0 #848787, 60px 110px 0 #848787,65px 110px 0 #848787,70px 110px 0 #848787, 75px 110px 0 #848787,80px 110px 0 #848787,85px 110px 0 #848787, 90px 110px 0 #848787,95px 110px 0 #B8D1D9,100px 110px 0 #848787, 105px 110px 0 #848787,110px 110px 0 #848787,115px 110px 0 #B8D1D9, 140px 110px 0 #CDE9F2,15px 115px 0 #CDE9F2,20px 115px 0 #848787, 25px 115px 0 #848787,30px 115px 0 #848787,35px 115px 0 #848787, 40px 115px 0 #848787,45px 115px 0 #848787,50px 115px 0 #848787, 55px 115px 0 #848787,60px 115px 0 #848787,65px 115px 0 #848787, 70px 115px 0 #848787,75px 115px 0 #848787,80px 115px 0 #848787, 85px 115px 0 #848787,90px 115px 0 #848787,95px 115px 0 #848787, 100px 115px 0 #B8D1D9,105px 115px 0 #848787,110px 115px 0 #848787, 115px 115px 0 #848787,120px 115px 0 #B8D1D9,135px 115px 0 #B8D1D9, 140px 115px 0 #B8D1D9,10px 120px 0 #CDE9F2,15px 120px 0 #CDE9F2, 20px 120px 0 #CDE9F2,25px 120px 0 #CDE9F2,30px 120px 0 #CDE9F2, 35px 120px 0 #CDE9F2,40px 120px 0 #CDE9F2,45px 120px 0 #CDE9F2, 50px 120px 0 #CDE9F2,55px 120px 0 #CDE9F2,60px 120px 0 #CDE9F2, 65px 120px 0 #CDE9F2,70px 120px 0 #CDE9F2,75px 120px 0 #CDE9F2, 80px 120px 0 #CDE9F2,85px 120px 0 #CDE9F2,90px 120px 0 #CDE9F2, 95px 120px 0 #CDE9F2,100px 120px 0 #CDE9F2,105px 120px 0 #CDE9F2, 110px 120px 0 #CDE9F2,115px 120px 0 #CDE9F2,120px 120px 0 #CDE9F2, 125px 120px 0 #CDE9F2,130px 120px 0 #CDE9F2,135px 120px 0 #848787, 140px 120px 0 #848787,145px 120px 0 #B8D1D9,130px 125px 0 #CDE9F2, 135px 125px 0 #848787,140px 125px 0 #848787,145px 125px 0 #B8D1D9, 130px 130px 0 #CDE9F2,135px 130px 0 #CDE9F2,140px 130px 0 #CDE9F2, 145px 130px 0 #B8D1D9,135px 135px 0 #B8D1D9,140px 135px 0 #B8D1D9;
}

div.moon {
    width: 120px;
    height: 120px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 80px;
    background-color: black;
    background: #fffef3; /* Old browsers */
    background: -moz-linear-gradient(top, #fffef3 27%, #807500 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fffef3 27%,#807500 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fffef3 27%,#807500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffef3', endColorstr='#807500',GradientType=0 ); /* IE6-9 */
}

div.nailstring {
    width: 5px;
    height: 5px;
    box-shadow: 80px 2px 0 #838584,82px 2px 0 #838584,84px 2px 0 #838584,86px 2px 0 #838584,78px 4px 0 #838584,80px 4px 0 #838584,82px 4px 0 #838584,84px 4px 0 #ADBAB7,86px 4px 0 #838584,88px 4px 0 #838584,76px 6px 0 #838584,78px 6px 0 #838584,80px 6px 0 #838584,82px 6px 0 #ADBAB7,84px 6px 0 #D7DBDA,86px 6px 0 #ADBAB7,88px 6px 0 #838584,90px 6px 0 #838584,72px 8px 0 #EDDDB7,74px 8px 0 #EDDDB7,78px 8px 0 #838584,80px 8px 0 #838584,82px 8px 0 #838584,84px 8px 0 #ADBAB7,86px 8px 0 #838584,88px 8px 0 #838584,92px 8px 0 #EDDDB7,94px 8px 0 #EDDDB7,68px 10px 0 #EDDDB7,70px 10px 0 #EDDDB7,80px 10px 0 #838584,82px 10px 0 #838584,84px 10px 0 #838584,86px 10px 0 #838584,96px 10px 0 #EDDDB7,98px 10px 0 #EDDDB7,64px 12px 0 #EDDDB7,66px 12px 0 #EDDDB7,100px 12px 0 #EDDDB7,102px 12px 0 #EDDDB7,60px 14px 0 #EDDDB7,62px 14px 0 #EDDDB7,104px 14px 0 #EDDDB7,106px 14px 0 #EDDDB7,56px 16px 0 #EDDDB7,58px 16px 0 #EDDDB7,108px 16px 0 #EDDDB7,110px 16px 0 #EDDDB7,52px 18px 0 #EDDDB7,54px 18px 0 #EDDDB7,112px 18px 0 #EDDDB7,114px 18px 0 #EDDDB7,48px 20px 0 #EDDDB7,50px 20px 0 #EDDDB7,116px 20px 0 #EDDDB7,118px 20px 0 #EDDDB7,44px 22px 0 #EDDDB7,46px 22px 0 #EDDDB7,120px 22px 0 #EDDDB7,122px 22px 0 #EDDDB7,40px 24px 0 #EDDDB7,42px 24px 0 #EDDDB7,124px 24px 0 #EDDDB7,126px 24px 0 #EDDDB7,36px 26px 0 #EDDDB7,38px 26px 0 #EDDDB7,128px 26px 0 #EDDDB7,130px 26px 0 #EDDDB7,32px 28px 0 #EDDDB7,34px 28px 0 #EDDDB7,132px 28px 0 #EDDDB7,134px 28px 0 #EDDDB7,28px 30px 0 #EDDDB7,30px 30px 0 #EDDDB7,136px 30px 0 #EDDDB7,138px 30px 0 #EDDDB7,24px 32px 0 #EDDDB7,26px 32px 0 #EDDDB7,140px 32px 0 #EDDDB7,142px 32px 0 #EDDDB7,20px 34px 0 #EDDDB7,22px 34px 0 #EDDDB7,144px 34px 0 #EDDDB7,146px 34px 0 #EDDDB7,16px 36px 0 #EDDDB7,18px 36px 0 #EDDDB7,148px 36px 0 #EDDDB7,150px 36px 0 #EDDDB7,12px 38px 0 #EDDDB7,14px 38px 0 #EDDDB7,152px 38px 0 #EDDDB7,154px 38px 0 #EDDDB7,8px 40px 0 #EDDDB7,10px 40px 0 #EDDDB7,156px 40px 0 #EDDDB7,158px 40px 0 #EDDDB7;
}
/****** custom css pixel arts ******/
