body {
    background-color: black;
    padding: 70px 0 0 0;
}

.list-group {
    width: 200px;
    background-color: #ffecb3;
    color: black;
    border-style: groove;
    border-color: #bfbea8;
    border-width: 5px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

div.cloudtext {
    color: #bfbea8;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

img.contactpic {
    width: 85%;
    height: 85%;
    box-shadow: 0px 0px 15px #bfbea8;
}

    img.contactpic:hover {
        box-shadow: 0px 0px 40px #ff0000;
    }

div.customFooter {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    color: #bfbea8;
    text-align: center;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 13px;
    background: #a0ffa5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, #c1c5cc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #c1c5cc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #c1c5cc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #c1c5cc); /* Standard syntax */
}

.navbar {
    background: #a0ffa5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c1c5cc, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c1c5cc, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c1c5cc, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c1c5cc, black); /* Standard syntax */
}

.navbar-inverse .navbar-brand {
    color: #bfbea8;
}

.nav.navbar-nav li a {
    color: #bfbea8;
}

.nav.navbar-nav.navbar-right li a {
    color: #bfbea8;
}