@{
    ViewBag.Title = "RAC: Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container cloudtext">

    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-6">
            <h1>Ryan Alan Compton</h1>

            <h5><u>Software Developer</u></h5>
        </div>
        <div class="moon col-lg-6 col-md-4 col-sm-3 col-xs-6">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-10">

            <p>Welcome to my personal website!</p>

            <p>
                &nbsp&nbsp I'm a software developer living in the Louisville, KY area.
                Having recently graduated from Indiana University Southeast,
                I am now employed as an IT Intern at ZirMed's downtown Louisville
                office.
            </p>

            <p>
                &nbsp&nbsp My computing interests include web applications, competitive
                programming problems, Linux and
                command line, OpenGL/graphics programming, and many others. I'm also interested in video games,
                basketball, martial arts, and Louisville Cardinal athletics.
            </p>

            <p>
                &nbsp&nbsp Check out the <a id="careerBtn" href="~/Career">Career</a> page for my resume and a rundown of
                the tools I'm familiar with, as well as the <a id="contactBtn" href="~/Contact">Contact</a> page for
                ways to track me down!
            </p>

        </div>
    </div>

</div>


