<!-- header / navbar partial view -->
<ul class="topnav" id="customNav">
    <li>@Html.ActionLink("Ryan A. Compton", "Index", "Home")</li>
    <li>@Html.ActionLink("Career", "Pro", "Pro")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Contact")</li>
    <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" onclick="navSwitch()">☰</a>
    </li>
</ul>