<!-- header / navbar partial view -->

<ul class="topnav" id="myTopnav">
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#pro">Career</a></li>
    <li><a href="#contact">Contact</a></li>
    <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
    </li>
</ul>