<!-- header / navbar partial view -->

<ul class="topnav" id="customNav">
    <li><a href="#home">About</a></li>
    <li><a href="#pro">Career</a></li>
    <li><a href="#contact">Contact</a></li>
    <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
    </li>
</ul>