<!-- header / navbar partial view -->
<ul class="topnav" id="customNav">
    <li id="homeBtn">@Html.ActionLink("Ryan A. Compton", "Index", "Home")</li>
    <li id="careerBtn">@Html.ActionLink("Career", "Pro", "Pro")</li>
    <li id="contactBtn">@Html.ActionLink("Contact", "Contact", "Contact")</li>
    <li class="icon">
        <a id="navToggle"style="font-size:15px;">☰</a>
    </li>
</ul>