<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/Content/custom.css" rel="stylesheet" />*@
    <link href="~/Content/bundle.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }

    @RenderBody()

    @{
        Html.RenderPartial("_CustomFooter");
    }
    <!-- is this is an acceptable way to use bundling?
        do i have to use razor's scripts.render()? 
        -->>
    <script src="~/Scripts/bundle.min.js"></script>

</body>
</html>
