<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
    
        @RenderBody()

    @{
        Html.RenderPartial("_CustomFooter");
    }
    <script>
        function myFunction() {
            var x = document.getElementById("customNav");
            if (x.className == "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>
</html>
