<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{
        Styles.Render("~/bundles/bootstap");
    }
    <title>@ViewBag.Title</title>
</head>
<body>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }

    @RenderBody()

    @{
        Html.RenderPartial("_CustomFooter");
    }
    <!-- is this is an acceptable way to use bundling?
        do i have to use razor's scripts.render()? 
        -->
    @{
        Scripts.Render();
    }
</body>
</html>
