@{
    ViewBag.Title = "RAC: Contact Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container cloudtext">
   
    <h1>Let's Collaborate!</h1>

    <p>my projects on <a href="https://github.com/rye720">github</a></p>

    <p>my <a href="https://www.linkedin.com/in/ryan-compton-662b05110">linkedin</a> profile</p>

    <p>e-mail me: </p>

</div>

